*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    z-index: 0;
}
h1,h2,h3,h4{
    color: rgb(252, 39, 121);
    margin-bottom:0.1rem ;
    text-transform: uppercase;
}
h1{
    padding-left: 0.5em;
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 0.1em 0.5em;
    border-bottom: 0.5px rgba(0, 0, 0, 0.294) solid ;
}
nav ul{
    display: flex;
}
nav li{
    padding: 0.2em;
    font-size: 1.2em;
}
.h-image img{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 16em;
    width: 70%;
    border: solid rgba(128, 128, 128, 0.041);

}
.main-heading{
    
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 1em auto;
    width: 70%;
    padding: 1em;
}
section{
    text-align: center;
    margin: 1em 0;
}
footer{
    bottom: 0%;
    
}
.foot h5{
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.foot{
    min-height: 2em;
    text-align: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding-top:1em ;
    margin-bottom: 0%;
    padding-bottom: 0%;
    left: 0;
    bottom: 0;
    
    
}
.trio{
    display: none;
}
.container{
    display: flex;
    justify-content: space-between;
    
    text-align: center;
}
.side{
    max-width:15em ;
    margin: 1em;
    
}
.side-card{
    padding: 1em;
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.cards{
    margin: 1em;
    padding: 1em;

}
.content{
    padding: 1em;
    margin: 0.1em;
    
}
.card{
    display: flex;
    justify-content: space-between;
    margin: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .img {
    width: 80%;
  background-color: white;
  padding: 0.1em;
}
.img img{
    width: 100%;
}
.toggle-button{
    position: absolute;
    top: 0%;
    transform: scale(80%);
    right: 1em;
}
.img img{
    height: 90%;
    min-width: 10em;
    margin-top: auto;
    margin-bottom:auto ;
}
/* ----------------------------------------------------------------------- */
@media screen and (max-width:500px) {
   
    
    nav{
        display: flex;
        flex-direction: column;
    }
    .trio{
        
        display: block;
    }
    .toggle-button:hover{
        cursor: pointer;
        transform: scale(95%);
    }
    .line{
        cursor: pointer;
        width: 35px;
        height: 4px;
        background-color: black;
        margin: 0.3em 0;
    }
    
    nav{
        padding: 0;
    }
    nav .list{
        /* display: block; */
        display: none;
        flex-direction: column;
        padding: 1em 0em;
    }
    .list.active{
        display: flex;
        padding: 0%;
    }
    nav li{
        padding-left: 0%;
        text-align: center;
    }
    nav li:hover{
    background-color: rgb(236, 236, 236);
    
    }
    
    
    
  }
  @media screen and (max-width:1000px) {
      
      .h-image{
          /* width: 100%; */
          height: auto;
          
      }
      .h-image img{
          margin: 0% auto;
          /* width: 100%; */
          height: auto;
      }
      .container{
          display: block;
          padding: 0.5em;
      }
      .cards{
          margin: 0%;
          padding: 0%;
          max-width:100% ;
      }
      .cards .card{
          display: block;
          margin: 2em 0em;
          padding: 0.5em;
      }
      .card .img{
          margin: 0% auto;
          
      }
      .img img{
          max-width: 1em;
      }
      .side{
          max-width: 100%;
          padding: 0%;
      }
      .side-card{
          margin: 1em auto;
      }
      .img{
        background: none;
        padding: 1em;
    }
    /* .card{
        margin: 1em;
        padding: 1em;
    } */
  }
footer {
    background-color: rgb(252, 39, 121);
}
h5{
    
    color: white;
}
.list a:hover{
    color: rgb(252, 39, 121);
    font-weight: 600;
}
.container{
    margin-top: 1em;
    margin-bottom: 2em;
}
.img{
    background: none;
    padding: 1em;
}
.foot-card h4{
    color: white;
    font-size: 1.5em;
}
footer{
    padding: 1em 1em 0em 1em;
    display: flex;
    flex-direction: column;
}
footer p{
    color: white;
    padding: 1em;
}
footer .foot-card{

padding: 1em;
}
.foot h5{
    padding-top: 0.5em;
    border-top: 1px solid white;
}
.foot-card .sub{
padding: 0em 1em;
}
p{
    text-transform:capitalize;
}
#sub{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: royalblue; */
}
.sub-child {
    margin: 1em;
    min-width: 100px;
}
.sub-child h5{
    font-size: 1em;
}
@media screen and (max-width:600px) {
      #sub{
            flex-direction: column;
            text-align: center;
            flex-wrap: wrap;
        }
        footer{
            text-align: center;
        }
}

html{
    scroll-behavior: smooth;
}
